In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
if os.getcwd().endswith('notebooks'):
    os.chdir('..')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
from src.training import investigate_predictions, calculate_metrics, load_config, DATA_TIME_INTERVAL

Model comparison LSTM, GRU, RNN

In [6]:
model_names = ['000-baseline', '001-baseline', '002-rnn'] # change

model_results = []
for model_name in model_names:
    config = load_config(model_name)

    for i in range(config['repetitions'] if 'repetitions' in config else 1):
        with open(f'./models/{model_name}_{i+1}_meta.json') as f:
            data = json.load(f)
            model_results.append({
                'model_name': model_name,
                **{metric: scores[data['best_epoch']] for metric, scores in data['val_scores'].items()}
            })

model_results = pd.DataFrame(model_results)

In [7]:
means = model_results.groupby('model_name').mean().round(2)
stds = model_results.groupby('model_name').std().round(2)

table = means.astype(str).add(' ± ').add(stds.astype(str))
table.columns = table.columns.str.upper()
table = table.rename(columns={'GMSE': 'gMSE', 'GRMSE': 'gRMSE'})
table = table[['RMSE', 'MAPE', 'gRMSE']]
table.index.name = None
table

                      RMSE        MAPE         gRMSE
000-baseline  12.33 ± 0.05  0.05 ± 0.0  14.56 ± 0.22
001-baseline  13.88 ± 0.02  0.06 ± 0.0  16.13 ± 0.14
002-rnn       12.11 ± 0.05  0.05 ± 0.0   14.2 ± 0.17

In [8]:
table.to_latex()

'\\begin{tabular}{llll}\n\\toprule\n & RMSE & MAPE & gRMSE \\\\\n\\midrule\n000-baseline & 12.33 ± 0.05 & 0.05 ± 0.0 & 14.56 ± 0.22 \\\\\n001-baseline & 13.88 ± 0.02 & 0.06 ± 0.0 & 16.13 ± 0.14 \\\\\n002-rnn & 12.11 ± 0.05 & 0.05 ± 0.0 & 14.2 ± 0.17 \\\\\n\\bottomrule\n\\end{tabular}\n'

Hidden states comparison

In [14]:
model_names = ['002-rnn', '011-rnn_hs512', '012-rnn_hs512_256_128', '013-rnn_hs_1024','014-rnn_hs_128'] # change

model_results = []
for model_name in model_names:
    config = load_config(model_name)

    for i in range(config['repetitions'] if 'repetitions' in config else 1):
        with open(f'./models/{model_name}_{i+1}_meta.json') as f:
            data = json.load(f)
            model_results.append({
                'model_name': model_name,
                **{metric: scores[data['best_epoch']] for metric, scores in data['val_scores'].items()}
            })

model_results = pd.DataFrame(model_results)

In [15]:
means = model_results.groupby('model_name').mean().round(2)
stds = model_results.groupby('model_name').std().round(2)

table = means.astype(str).add(' ± ').add(stds.astype(str))
table.columns = table.columns.str.upper()
table = table.rename(columns={'GMSE': 'gMSE', 'GRMSE': 'gRMSE'})
table = table[['RMSE', 'MAPE', 'gRMSE']]
table.index.name = None
table

                               RMSE        MAPE         gRMSE
002-rnn                12.11 ± 0.05  0.05 ± 0.0   14.2 ± 0.17
011-rnn_hs512           12.1 ± 0.03  0.05 ± 0.0   14.16 ± 0.2
012-rnn_hs512_256_128  12.21 ± 0.08  0.05 ± 0.0  14.42 ± 0.12
013-rnn_hs_1024        12.12 ± 0.06  0.05 ± 0.0   14.16 ± 0.1
014-rnn_hs_128         12.37 ± 0.03  0.05 ± 0.0  14.56 ± 0.07

In [16]:
table.to_latex()

'\\begin{tabular}{llll}\n\\toprule\n & RMSE & MAPE & gRMSE \\\\\n\\midrule\n002-rnn & 12.11 ± 0.05 & 0.05 ± 0.0 & 14.2 ± 0.17 \\\\\n011-rnn_hs512 & 12.1 ± 0.03 & 0.05 ± 0.0 & 14.16 ± 0.2 \\\\\n012-rnn_hs512_256_128 & 12.21 ± 0.08 & 0.05 ± 0.0 & 14.42 ± 0.12 \\\\\n013-rnn_hs_1024 & 12.12 ± 0.06 & 0.05 ± 0.0 & 14.16 ± 0.1 \\\\\n014-rnn_hs_128 & 12.37 ± 0.03 & 0.05 ± 0.0 & 14.56 ± 0.07 \\\\\n\\bottomrule\n\\end{tabular}\n'

Number layer comparison

In [27]:
model_names = ['011-rnn_hs512', '021-rnn_layer_2', '022-rnn_layer_3']  # change

model_results = []
for model_name in model_names:
    config = load_config(model_name)

    for i in range(config['repetitions'] if 'repetitions' in config else 1):
        with open(f'./models/{model_name}_{i + 1}_meta.json') as f:
            data = json.load(f)
            model_results.append({
                'model_name': model_name,
                **{metric: scores[data['best_epoch']] for metric, scores in data['val_scores'].items()}
            })

model_results = pd.DataFrame(model_results)

In [28]:
means = model_results.groupby('model_name').mean().round(2)
stds = model_results.groupby('model_name').std().round(2)

table = means.astype(str).add(' ± ').add(stds.astype(str))
table.columns = table.columns.str.upper()
table = table.rename(columns={'GMSE': 'gMSE', 'GRMSE': 'gRMSE'})
table = table[['RMSE', 'MAPE', 'gRMSE']]
table.index.name = None
table

                         RMSE        MAPE         gRMSE
011-rnn_hs512     12.1 ± 0.03  0.05 ± 0.0   14.16 ± 0.2
021-rnn_layer_2  12.09 ± 0.04  0.05 ± 0.0  14.08 ± 0.06
022-rnn_layer_3  12.08 ± 0.05  0.05 ± 0.0   14.0 ± 0.09

In [29]:
table.to_latex()

'\\begin{tabular}{llll}\n\\toprule\n & RMSE & MAPE & gRMSE \\\\\n\\midrule\n011-rnn_hs512 & 12.1 ± 0.03 & 0.05 ± 0.0 & 14.16 ± 0.2 \\\\\n021-rnn_layer_2 & 12.09 ± 0.04 & 0.05 ± 0.0 & 14.08 ± 0.06 \\\\\n022-rnn_layer_3 & 12.08 ± 0.05 & 0.05 ± 0.0 & 14.0 ± 0.09 \\\\\n\\bottomrule\n\\end{tabular}\n'